
// header
header.header
  .shell
    .container
      .stage
          
        //- title
        h1.header__title 
          span Правила сучасного 
          span нетворкінгу
        
        .header__subtitle 
          | Думаєш, нетворкінг - це вроджений талант? А ось і&nbsp;ні!
          | Ми&nbsp;підібрали круті секрети від справжніх геніїв в цій сфері.
// eof header
  
