
// footer
footer.footer
  .shell
    .container
      .stage
          
        //- title
        p.footer__text 
          | З нашими порадами ти швидко досягнеш успіху і станеш&nbsp;№1 серед нетворкерів свого часу!
        
        p.footer__text
          | P.S.
          br
          | А на додаток, радимо почитати книгу Кейт Феррацці «Ніколи не їж наодинці» з лайфхаками по нетворкінгу. 
          
        .footer__slogan Будь AHEAD!
          
// eof footer
  
