// frame_04 :: connect
section.connect.js-section
  .shell
    .container
      .stage
        
        img.connect__image(src=require('../images/frame_04__connect.png'))
          
        .connect__desc.js-desc
          
          h2.connect__title.js-title
            | Підтримуй зв’язок
          
          p.connect__text.js-text
            | Серйозні бізнесмени і суперуспішні нетворкери намагаються підтримувати контакти з усіма відразу. Намагайся вчасно про себе нагадувати, щоб новий знайомий не забув про твоє існування. І не соромся додаватися до друзів у соціальних мережах і просити знайомити тебе з друзями своїх нових друзів – теорія «шести рукостискань» працює завжди!

// eof frame_04 :: connect
  
