// frame_03 :: listen
section.listen.js-section
  .shell
    .container
      .stage
        .arrow
        
        img.listen__image(src=require('../images/frame_03__listen.png'))
          

        .listen__desc.js-desc
          
          h2.listen__title.js-title
            | Слухай більше, ніж розказуй 
          
          p.listen__text.js-text
            | Люди дуже люблять говорити про себе – дай їм цей шанс! Користуйся формулою 80/20: нехай 80% вашої розмови стосуватиметься твого співрозмовника. Отриману інформацію ти потім зможеш використати для подальших контактів: наприклад, скинути новому знайомому статтю, що перегукується з його хобі, або вислати на пошту електронний варіант книги, яку ви обговорювали.
// eof frame_03 :: listen
  
