
// frame_01 :: meetup
section.meetup.js-section
  .shell
    .container
      .stage
        
        img.meetup__image(src=require('../images/frame_01__meetup.png'))


        .meetup__desc.js-desc
          
          h2.meetup__title.js-title
            | Приходь рано, йди пізно
            
          p.meetup__text.js-text
            | Будь то вечірка, наукова конференція чи курси миловаріння – завжди приходь одним із перших, а йди останнім. Соціологи стверджують, що найкращі умови для налагодження нових контактів – якраз тоді, коли ще не всі люди зійшлися, або вже майже всі розійшлися. Лови шанс і користуйся! 
// eof frame_01 :: meetup
  
