// frame_05 :: offline
section.offline.js-section
  .shell
    .container
      .stage
        
        img.offline__image(src=require('../images/frame_05__offline.png'))
          
        .offline__desc.js-desc
          
          h2.offline__title.js-title
            | Виходь в офлайн
          
          p.offline__text.js-text
            | Вивчи коло своїх соціальних зв’язків і постарайся налагодити спілкування з тими, хто орієнтовно наближений до сфери твоїх інтересів. Не знаєш, де знайти потрібні знайомства? Почни ходити на спеціалізовані майстер-класи, лекції та вечірки-знайомства.
          
          p.offline__text.js-text
            | Останні набувають все більшої популярності – наприклад, Fryday (https://www.facebook.com/fryday.kyiv/) для ділових людей, Silicon Drinkabout Kiev (https://www.facebook.com/SiliconDrinkaboutKiev/) для стартаперів, Business Hub (http://businesshub.kiev.ua/) для власників бізнесу і т. д. 

// eof frame_05 :: offline
  
