// frame_02 :: presentation
section.presentation.js-section
  .shell
    .container
      .stage
        .arrow
        
        img.presentation__image(src=require('../images/frame_02__presentation.png'))
          
        //- title
        .presentation__desc.js-desc
          h2.presentation__title.js-title
            | Самопрезентація 
          
          p.presentation__text.js-text
            | Використовуй метод Elevator Speech. Суть проста: уяви, що ти потрапив в ліфт з босом твоєї мрії, і за пару хвилин, поки ви доїдете до пункту призначення, ти маєш розказати про себе, свій проект, і домовитися про співпрацю. А тому продумай і підготуй короткі розповіді про себе на всі випадки життя – і використовуй той чи інший варіант при знайомстві з новими людьми! 
// eof frame_02 :: presentation
  
