
@font-face {
	font-family: 'dinpro-regular';
	src: url('../../fonts/dinpro-regular/dinpro-regular.eot');
	src: local('☺'),
				 url('../../fonts/dinpro-regular/dinpro-regular.woff') format('woff'),
				 url('../../fonts/dinpro-regular/dinpro-regular.woff2') format('woff2'),
				 url('../../fonts/dinpro-regular/dinpro-regular.ttf') format('truetype'),
				 url('../../fonts/dinpro-regular/dinpro-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
