extends ../base
block title
  | Правила сучасного нетворкінгу
block main
  body.page-index
    .wrapper

      include 01__pug/01__header
      
      
      
      include 01__pug/frame_01
      
      include 01__pug/frame_02
      
      include 01__pug/frame_03
      
      include 01__pug/frame_04
      
      include 01__pug/frame_05
      
      
      
      include 01__pug/02__footer
      




//- img(src=require('./images/frame_01__meetups.png') width="100")
