
@font-face {
	font-family: 'dinpro-bold';
	src: url('../../fonts/dinpro-bold/dinpro-bold.eot');
	src: local('☺'),
				 url('../../fonts/dinpro-bold/dinpro-bold.woff') format('woff'),
				 url('../../fonts/dinpro-bold/dinpro-bold.woff2') format('woff2'),
				 url('../../fonts/dinpro-bold/dinpro-bold.ttf') format('truetype'),
				 url('../../fonts/dinpro-bold/dinpro-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
